@import "global.css";
@import "main.css";

:root{
    --white:rgb(188, 175, 175)0a0;
    --gray-100:#e5e5e5;
    --gray-300:#bdbdbd;
    --gray-500:rgba(9, 8, 8, 0.961);
    --orange-300:#080808;
    --orange-500:#8d5d5d;
}
